streamlit==1.15.2  # Adjust version as needed
numpy==1.23.5  # Adjust version as needed
pandas==1.4.4  # Adjust version as needed
scikit-learn==1.2.0  # Adjust version as needed
xgboost==1.6.2  # Adjust version as needed
